@use "@angular/material" as mat;
@include mat.core();
@import "../../../styles.scss";
.custom-footer {
  background-color: mat.get-color-from-palette($primary);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 900px;
  display: flex;
  margin: auto;
}

.copyright {
  color: #fff;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}
